<div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
        <h5 class="timeline-title">{{ include.job.company }}</h5>
        <span class="timeline-role">{{ include.job.role }}</span>
        <span class="date">{{ include.job.dates }} | {{ include.job.location }}</span>

        <ul class="experience-points">
            {% for point in include.job.points %}
            <li>{{ point }}</li>
            {% endfor %}
        </ul>

    </div>
</div>
