---
layout: page-fullwidth
---

<link rel="stylesheet" href="{{ '/assets/css/photography.css' | relative_url }}">

<div class="row">
    <div class="medium-12 columns">
        {{ content }}
    </div>
</div>

{% if page.gallery_photos %}
<div class="row">
    <div class="medium-12 columns">
        <div class="gallery-grid">
            {% for photo in page.gallery_photos %}
            {% include _photo-card.html photo=photo %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

<div id="lightbox">
    <div id="lightbox-container">
        <img id="lightbox-img" src="">
        <div id="lightbox-shield"></div>
    </div>
</div>

<div class="row"><hr></div>

{% if page.instagram_videos %}
<div class="row">
    <div class="medium-12 columns">
        <h2>Videos</h2>
        <p>The following are videos I made! Please feel free to like, share, and follow!</p>

        <div class="video-grid">
            {% for video in page.instagram_videos %}
            <div class="video-wrapper">
                <blockquote class="instagram-media"
                    data-instgrm-permalink="{{ video.url }}"
                    data-instgrm-version="14">
                </blockquote>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script async src="//www.instagram.com/embed.js"></script>
{% endif %}

<script src="{{ '/assets/js/photography.js' | relative_url }}"></script>
