---
layout: default
format: page-fullwidth
---
<link rel="stylesheet" href="{{ '/assets/css/publications.css' | relative_url }}">
<div class="row t30">
    <div class="medium-12 columns">
        <article>
            <header>
                <h1>{{ page.title }}</h1>
            </header>

            {% if page.teaser %}
            <p class="teaser">{{ page.teaser }}</p>
            {% endif %}

            <div class="pub-container">
                
                <div class="pub-list">
                    {% for pub in page.publications %}
                    {% include _publication-card.html pub=pub %}
                    {% endfor %}
                </div>

                <div class="scholar-link">
                    <p>For a complete list of citations, visit my <a href="https://scholar.google.com/citations?user=zuL9nnwAAAAJ&hl=en" target="_blank">Google Scholar Profile <i class="fa fa-external-link"></i></a>.</p>
                </div>

            </div>

            {{ content }}
        </article>
    </div>
</div>
